.logo {
  width: 30px;
  height: 30px;
  margin: auto 0px;
  display: inline-block; }
  .logo.brilliance {
    width: 80px; }
  .logo.hcl {
    width: 80px; }
  .logo.ng-logo {
    background: url("../../imgs/skills/angular.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.ng-logo:before {
      content: "Angular";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.ng-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.react-logo {
    background: url("../../imgs/skills/react.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.react-logo:before {
      content: "React";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.react-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.bs-logo {
    background: url("../../imgs/skills/bootstrap.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.bs-logo:before {
      content: "Bootstrap";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.bs-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.cs-logo {
    background: url("../../imgs/skills/csharp.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.cs-logo:before {
      content: "C#";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.cs-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.net-logo {
    background: url("../../imgs/skills/net-core.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.net-logo:before {
      content: ".NET Core";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.net-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.ts-logo {
    background: url("../../imgs/skills/typescript.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.ts-logo:before {
      content: "Typescript";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.ts-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.gcloud-logo {
    background: url("../../imgs/skills/gcloud.png");
    background-repeat: no-repeat;
    background-size: 45px 30px;
    width: 35px;
    height: 30px;
    position: relative; }
    .logo.gcloud-logo:before {
      content: "GCP";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.gcloud-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.az-logo {
    background: url("../../imgs/skills/azure.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.az-logo:before {
      content: "Azure";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.az-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.aws-logo {
    background: url("../../imgs/skills/aws.jpg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.aws-logo:before {
      content: "AWS";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.aws-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.servicebus-logo {
    background: url("../../imgs/skills/service-bus.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.servicebus-logo:before {
      content: "Az Service Bus";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.servicebus-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.iothub-logo {
    background: url("../../imgs/skills/iothub.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.iothub-logo:before {
      content: "Az IoT";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.iothub-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.cos-logo {
    background: url("../../imgs/skills/cosmos.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.cos-logo:before {
      content: "CosmosDB";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.cos-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.efcore-logo {
    background: url("../../imgs/skills/efcore.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.efcore-logo:before {
      content: "EF Core";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.efcore-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.sql-logo {
    background: url("../../imgs/skills/mssqlserver.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.sql-logo:before {
      content: "SQL Server";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.sql-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.pg-logo {
    background: url("../../imgs/skills/pg.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.pg-logo:before {
      content: "PostgresSQL";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.pg-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.firebase-logo {
    background: url("../../imgs/skills/firebase.png");
    margin: 0px 6px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.firebase-logo:before {
      content: "Firebase";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.firebase-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.nodejs-logo {
    background: url("../../imgs/skills/nodejs.png");
    background-repeat: no-repeat;
    background-size: 40px 30px;
    width: 40px;
    height: 30px;
    position: relative; }
    .logo.nodejs-logo:before {
      content: "NodeJS";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.nodejs-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.netframework-logo {
    background: url("../../imgs/skills/net-framework.png");
    background-repeat: no-repeat;
    background-size: 35px 30px;
    width: 35px;
    height: 30px;
    position: relative; }
    .logo.netframework-logo:before {
      content: ".NET Framework";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.netframework-logo:hover:before {
      opacity: 1;
      visibility: visible; }
  .logo.jq-logo {
    background: url("../../imgs/skills/jquery.jpg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }
    .logo.jq-logo:before {
      content: "Jquery";
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0px 10px 20px black;
      background: #5e7076;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 0px 10px;
      transition: opacity 500ms ease-in-out;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 110%; }
    .logo.jq-logo:hover:before {
      opacity: 1;
      visibility: visible; }

.skills {
  padding: 10px 0px; }
  .skills > .logo {
    margin: 0px 4px; }

@media (min-width: 700px) {
  .skills-summary {
    width: 400px; } }

@media (max-width: 700px) {
  .skills-summary {
    padding-inline-start: 0px; } }

.skills-summary li {
  display: flex;
  margin-bottom: 10px; }
  .skills-summary li .skill-proficiency > em {
    font-size: 12px; }

.skills-summary span {
  flex-grow: 1;
  flex-basis: 0;
  margin: auto 0px; }

.skills-summary span.logo {
  flex-grow: 0.5; }

.skills-summary .logo.firebase-logo {
  margin: auto 0; }

:root {
  --nav-max-height: 324px;
  --nav-translate: 0px; }

nav {
  display: flex;
  flex-direction: column;
  margin: auto 40px;
  margin-top: 160px;
  min-width: 175px; }
  @media (max-width: 700px) {
    nav {
      position: absolute;
      z-index: 9999;
      margin: 100px 10px 10px 10px;
      height: var(--nav-max-height);
      transition: height 400ms; } }
  nav-wrapper,
  nav .reel-wrapper {
    display: flex;
    box-shadow: 2px 5px 7px black;
    background-image: url("../../imgs/film.png");
    background-size: 175px;
    width: 175px;
    height: var(--nav-max-height);
    overflow: scroll;
    overflow-x: hidden;
    background-repeat: repeat-y;
    scrollbar-width: none; }
    nav-wrapper::-webkit-scrollbar,
    nav .reel-wrapper::-webkit-scrollbar {
      width: 0;
      background: transparent; }
  nav .scroll-nav-group {
    text-align: center;
    margin: 20px 0px; }
    nav .scroll-nav-group .scroll-nav {
      padding: 5px;
      margin: 0px 5px;
      width: 30px;
      background: rgba(255, 255, 255, 0.3);
      user-select: none; }
    nav .scroll-nav-group .scroll-nav-up {
      transform: rotate(180deg); }
    nav .scroll-nav-group .disabled {
      opacity: 0.5;
      pointer-events: none; }
  nav .chapter-navs {
    color: #b5afad;
    transform: translateY(var(--nav-translate));
    transition: all 1.2s ease-in; }
  nav .chapter-nav {
    padding: 20px;
    border-bottom: 0.5px solid #b5afad;
    height: 68px; }
    nav .chapter-nav.default {
      font-size: 20px;
      padding: 40px 0px 0px 55px; }
    nav .chapter-nav:hover {
      cursor: pointer; }
    nav .chapter-nav.selected {
      box-shadow: inset 0px 1px 5px 4px rgba(255, 255, 0, 0.4); }
    nav .chapter-nav .company {
      display: flex; }
      nav .chapter-nav .company .logo {
        width: 25px;
        height: 25px;
        margin: auto 0px; }
      nav .chapter-nav .company .name {
        font-size: 20px;
        margin-left: 10px; }

main {
  display: flex; }
  @media (min-width: 700px) {
    main {
      max-width: 800px;
      margin-right: auto; } }
  main .chapter-details {
    width: calc(100vw - 70px);
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    backdrop-filter: blur(25px);
    box-shadow: 0px 10px 20px black;
    background: linear-gradient(90deg, rgba(144, 144, 144, 0.5), transparent); }
    main .chapter-details .company {
      display: flex; }
      main .chapter-details .company .name {
        font-size: 24px;
        margin-left: 12px; }
    main .chapter-details .role {
      background: #a2b1be;
      border-radius: 7px;
      padding: 0px 7px;
      display: inline-block;
      font-weight: 600;
      box-shadow: inset 0 0 6px #5f666c; }
    main .chapter-details .year {
      display: inline-block; }
      main .chapter-details .year > span {
        margin: 0px 5px;
        font-size: 14px; }
    main .chapter-details .cert-since {
      font-size: 14px; }
    main .chapter-details .summary .cba {
      top: 5px;
      position: relative;
      width: 35px;
      left: -5px; }

@media (max-width: 700px) {
  .hide-sm {
    display: none !important; } }

@media (max-width: 700px) {
  .hide-sm-animate {
    height: 0px; } }

@media (min-width: 700px) {
  .show-sm {
    display: none !important; } }

html {
  width: 100%;
  height: 100%; }

body {
  font-family: "Cairo", sans-serif;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  background: url("../../imgs/nostalgia.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  backdrop-filter: blur(25px); }
  body header {
    text-align: right;
    margin: 80px 0px; }
    @media (max-width: 700px) {
      body header {
        height: 50px;
        margin: 40px 0px 20px 0px; } }
  body .icon-btn {
    backdrop-filter: blur(25px);
    padding: 7px;
    border-radius: 7px;
    box-shadow: 2px 2px 15px black;
    cursor: pointer; }
  body .side-menu-icon {
    width: 28px;
    position: absolute;
    left: 10px; }
  body .speaker {
    position: absolute;
    display: inline-block;
    cursor: pointer; }
    body .speaker .speaker-icon {
      width: 30px;
      position: absolute;
      left: calc(100% - 43px); }
    body .speaker .speaker-close-icon {
      width: 18px;
      position: absolute;
      top: 13px;
      left: -30px; }

.content {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 10px 10px; }
  @media (min-width: 700px) {
    .content {
      margin-right: 25px; } }

.mb-0 {
  margin-bottom: 0; }

.mt-0 {
  margin-top: 0; }
