@import "variables";
@import "skills";
@import "nav";
@import "chapter";
@import "responsibilities";

.hide-sm {
    @media (max-width: $mobile-breakpoint) {
        display: none !important;
    }
}

.show-sm {
    @media (min-width: $mobile-breakpoint) {
        display: none !important;
    }
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Cairo", sans-serif;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    margin: 0px;
    background: url("../../imgs/nostalgia.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    backdrop-filter: blur(25px);

    header {
        text-align: right;
        margin: 80px 0px;

        @media (max-width: $mobile-breakpoint) {
            height: 50px;
            margin: 40px 0px 20px 0px;
        }
    }

    .icon-btn {
        backdrop-filter: blur(25px);
        padding: 7px;
        border-radius: 7px;
        box-shadow: 2px 2px 15px black;
        cursor: pointer;
    }

    .side-menu-icon {
        width: 28px;
        position: absolute;
        left: 10px;
    }

    .speaker {
        position: absolute;
        display: inline-block;
        cursor: pointer;

        .speaker-icon {
            width: 30px;
            position: absolute;
            left: calc(100% - 43px);
        }

        .speaker-close-icon {
            width: 18px;
            position: absolute;
            top: 13px;
            left: -30px;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 10px 10px;

    @media (min-width: $mobile-breakpoint) {
        margin-right: 25px;
    }
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}
